
Finance/__pycache__/MarketClass.cpython-37.pyc
Finance/__pycache__/StockClass.cpython-37.pyc
Finance/__pycache__/StockClass.cpython-37.pyc
*.pyc
*.pyc
Finance/__pycache__/StockClass.cpython-37.pyc
ML/Data/studentGradePredictor.pickle
ML/Data/student.txt
*.R
Machine Learning/Data/student.txt
*.pickle
SQL/mytable.csv
SQL/emp.csv
SQL/mytable2.csv
SQL/example.csv
ABtesting/ABTestWebchoice.py
SQL/book_details.csv
Neural Networks/model.h5
